

.PieChart {
    background: #fff;
    font-size: 0.8em;
    width: 1104px;
    height: 400px;
    position: relative;
    border-top: 1px solid #e4e4e4;
    margin: 10px auto;
    display: none;
}

.PieChart p {
    text-align: center;

}

.PieChart p.title {
    font-size: 1.2em;
    padding: 15px;
    color: #484848;
    font-weight: 700;
}

